#page-header.visible {
	opacity: 1;
	transform: translateY(0);
}
#page-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	color: white;
	text-align: center;
	opacity: 0;
	transform: translateY(-100%);
	transition: all 0.5s ease;
	z-index: 99;
	padding: 0 1rem;

	.navbar {
		width: 100%;
		height: 70px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo {
			cursor: pointer;
			margin-right: 150px;
			font-family: '';
			a {
				text-decoration: none;
				color: #fff;
				font-family: 'pacifico';
				font-weight: 300;
				font-style: italic;
				font-size: 30px;
				line-height: 50px;
				letter-spacing: 2%;
				vertical-align: middle;

				img {
					width: 200px;
					height: 200px;
				}

				&:hover {
					color: #00f0ff;
				}
			}
		}
		.links {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 2rem;

			li {
				text-transform: uppercase;
				list-style: none;
				padding: 0.4rem 0;
				display: flex;
				align-items: center;
				justify-content: center;
				list-style: none;
				text-decoration: none;
				color: white;
				margin: 0 10px;
				position: relative;
				transition: 0.3s ease;
				font-family: 'Inter';
				font-weight: 900;
				font-size: 20px;
				line-height: 50px;
				letter-spacing: 0%;
				vertical-align: middle;

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 5px;
					background-color: #00f0ff;
					border-radius: 5px;
					bottom: 0;
					left: 0;
					transform: scaleX(0);
					transition: transform 0.6s ease;
				}
				&:hover::before {
					transform: scaleX(1);
				}
				a {
					text-decoration: none;
					color: #fff;
					font-size: 1.5rem;
					&:hover {
						color: #00f0ff;
					}
				}
			}
		}
		.toggle_btn {
			color: #fff;
			font-size: 1.5rem;
			cursor: pointer;
			display: none;
		}
	}
	.dropdown_menu {
		position: absolute;
		right: 2rem;
		top: 60px;
		width: 0px;
		height: 0;
		background: rgb(0, 0, 0, 0.7);
		backdrop-filter: blur(15px);
		border-radius: 10px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		z-index: 10;

		&.open {
			width: 100%;
			height: 100vh;
		}

		&::after {
			content: "O'lmas";
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(300deg);
			font-size: 150px;
			text-transform: uppercase;
			color: transparent;
			-webkit-text-stroke: 3px #00bbb8;
			letter-spacing: 5px;
			pointer-events: none;
			opacity: 0.5;
			z-index: -1;
		}

		li {
			padding: 0.9rem;
			display: flex;
			align-items: center;
			justify-content: center;
			list-style: none;
			text-decoration: none;
			color: white;
			font-size: 1.5rem;
			margin: 0 10px;
			position: relative;
			transition: 0.3s ease;
			&:hover {
				color: red;
			}
			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 5px;
				background-color: #00bbb8;
				border-radius: 5px;
				bottom: 0;
				left: 0;
				transform: scaleX(0);
				transition: transform 0.6s ease;
			}
			&:hover::before {
				transform: scaleX(1);
			}
			a {
				width: 100%;
				height: 50px;
				text-align: center;
				text-decoration: none;
				color: rgba(255, 255, 255, 0.7);
				font-size: 2rem;
				font-weight: bold;

				text-transform: uppercase;

				letter-spacing: 5px; /* Harflar orasidagi masofa */
				transition: all 0.5s ease-in;
				-webkit-transition: all 0.3s ease-in;
				-moz-transition: all 0.3s ease-in;
				-o-transition: all 0.3s ease-in;
				cursor: pointer;
				&:hover {
					color: #00f0ff; /* Hoverda matn ko‘rinadi */
					-webkit-text-stroke: 0px; /* Kontur yo‘qoladi */
					text-shadow: 0 0 10px #00bbb8;
				}
			}
		}
	}
	.dropdown_menu.open {
		width: 100%;
		height: 100vh;
		margin: 0 -30px;
	}
}

