@use '../_mixin.scss' as *;

.header {
	width: 100%;
	height: 100vh;
	@include display(flex, center, null);
	width: min(100%, 1920px);
	padding: 0 40px;
	// overflow-x: hidden;
	scrollbar-width: none;

	.home_page {
		width: 100%;
		height: 100vh;
		background: #000;

		.social-icons {
			width: 100%;
			height: 80px;
			@include display(flex, space-between, center);
			padding: 1rem 0 0 0;
			z-index: 99;
			animation: showHeaderSocials 0.5s linear forwards;
			-webkit-animation: showHeaderSocials 0.5s linear forwards;
			-moz-animation: showHeaderSocials 0.5s linear forwards;
			-o-animation: showHeaderSocials 0.5s linear forwards;
			opacity: 0;
			margin-bottom: 50px;
			@include animation-delay(2s);
			.glow-icon {
				font-size: 30px;
				padding: 10px;
				border-radius: 50%;
				color: white;
				border: 2px solid transparent;
				background:
					linear-gradient(#0f0f0f, #0f0f0f) padding-box,
					linear-gradient(120deg, #ff00c8, #00f0ff, #ffea00, #ff00c8) border-box;
				background-size: 300% 300%;
				transition:
					transform 0.4s ease,
					box-shadow 0.4s ease;
				@include display(flex, center, center);
				text-decoration: none;
			}
			.github:hover {
				color: #f6c90e;
				background:
					linear-gradient(#0f0f0f, #0f0f0f) padding-box,
					linear-gradient(120deg, #f6c90e, #d17a00) border-box;
				animation:
					glow-github 2s infinite ease-in-out,
					borderFlow 6s linear infinite;
				transform: scale(1.2) rotate(10deg);
			}

			span {
				display: flex;
				gap: 15px;
				.telegram:hover {
					color: #00c6ff;
					background:
						linear-gradient(#0f0f0f, #0f0f0f) padding-box,
						linear-gradient(120deg, #00c6ff, #0077ff) border-box;
					animation:
						glow-telegram 2s infinite ease-in-out,
						borderFlow 6s linear infinite;
					transform: scale(1.2) rotate(10deg);
				}

				.vk:hover {
					color: #63a4ff;
					background:
						linear-gradient(#0f0f0f, #0f0f0f) padding-box,
						linear-gradient(120deg, #63a4ff, #83d0ff) border-box;
					animation:
						glow-vk 2s infinite ease-in-out,
						borderFlow 6s linear infinite;
					transform: scale(1.2) rotate(10deg);
				}

				.gmail:hover {
					color: #ea4335;
					background:
						linear-gradient(#0f0f0f, #0f0f0f) padding-box,
						linear-gradient(120deg, #ea4335, #ff6f61, #fbbc05) border-box;
					animation:
						glow-gmail 2s infinite ease-in-out,
						borderFlow 6s linear infinite;
					transform: scale(1.2) rotate(10deg);
				}

				.instagram:hover {
					color: #dd2a7b;
					background:
						linear-gradient(#0f0f0f, #0f0f0f) padding-box,
						linear-gradient(120deg, #dd2a7b, #feda77, #8134af) border-box;
					animation:
						glow-instagram 2s infinite ease-in-out,
						borderFlow 6s linear infinite;
					transform: scale(1.2) rotate(10deg);
				}
			}
		}

		.hero_section {
			width: 100%;
			height: calc(100vh - 80px);
			@include display(flex, space-between, center);
			// overflow: scroll;
			.hero_text {
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: center;
				color: #fff;
				h1 {
					font-family: 'great vibes';
					margin-bottom: 80px;
					font-size: 60px; /* Matn hajmi */
					font-weight: 500; /* Qalin matn */
					color: #ffffff; /* Matn rangi (qora) */

					/* Quyidagi qatorda asosiy sehr bo‘ladi: aks ettirish */
					-webkit-box-reflect: below -10px /* Aksni matndan 5px pastda joylashtiradi */
						linear-gradient(
							/* Asta-sekin yo‘qoluvchi effekt */ to bottom,
							/* Yuqoridan pastga */ rgba(0, 0, 0, 0),
							/* Yuqorida 40% qora */ rgba(0, 0, 0, 0.4) /* Pastda butunlay shaffof */
						);
					// font-size: 3rem;
					animation: blink 0.8s ease-in-out;
					font-style: italic;
					text-shadow: 0 0 10px #00bbb8;
					outline: none;
					animation: intro-greetings-glow 2s linear forwards;
					-webkit-animation: intro-greetings-glow 2s linear forwards;
					-moz-animation: intro-greetings-glow 2s linear forwards;
					-o-animation: intro-greetings-glow 2s linear forwards;
				}

				.blink span {
					display: inline;
					animation: blink 1.2s ease-in-out;
					opacity: 1;
				}

				.blink span:nth-child(1) {
					animation-delay: 0s;
				}
				.blink span:nth-child(2) {
					animation-delay: 0.1s;
				}
				.blink span:nth-child(3) {
					animation-delay: 0.2s;
				}
				.blink span:nth-child(4) {
					animation-delay: 0.3s;
				}
				.blink span:nth-child(5) {
					animation-delay: 0.4s;
				}
				.blink span:nth-child(6) {
					animation-delay: 0.5s;
				}
				.blink span:nth-child(7) {
					animation-delay: 0.6s;
				}
				.blink span:nth-child(8) {
					animation-delay: 0.7s;
				}
				.blink span:nth-child(9) {
					animation-delay: 0.8s;
				}
				.blink span:nth-child(10) {
					animation-delay: 0.9s;
				}
				.blink span:nth-child(11) {
					animation-delay: 1s;
				}
				.blink span:nth-child(12) {
					animation-delay: 1.1s;
				}
				.blink span:nth-child(13) {
					animation-delay: 1.2s;
				}
				.blink span:nth-child(14) {
					animation-delay: 1.3s;
				}
				.blink span:nth-child(15) {
					animation-delay: 1.4s;
				}
				.blink span:nth-child(16) {
					animation-delay: 1.5s;
				}
				.blink span:nth-child(17) {
					animation-delay: 1.6s;
				}
				.blink span:nth-child(18) {
					animation-delay: 1.7s;
				}
				.blink span:nth-child(19) {
					animation-delay: 1.8s;
				}
				.typewriter {
					letter-spacing: 2px;
					font-size: 80px; /* Matn hajmi */
					font-weight: bold; /* Qalin matn */
					color: #ffffff; /* Matn rangi (qora) */
					text-transform: uppercase;

					/* Quyidagi qatorda asosiy sehr bo‘ladi: aks ettirish */
					-webkit-box-reflect: below 1px /* Aksni matndan 5px pastda joylashtiradi */
						linear-gradient(
							/* Asta-sekin yo‘qoluvchi effekt */ to bottom,
							/* Yuqoridan pastga */ rgba(0, 0, 0, 0),
							/* Yuqorida 40% qora */ rgba(0, 0, 0, 0.4) /* Pastda butunlay shaffof */
						);
					-webkit-box-reflect: below 10px linear-gradient(transparent, #ffffff30#ffffff30);
					text-shadow: 0 0 10px #00bbb8;

					&::after {
						content: '';
						margin-left: 5px;
						border-right: 5px solid #ffffff30;
						animation: typing-text-bar 0.5s linear infinite;
						-webkit-animation: typing-text-bar 0.5s linear infinite;
						-moz-animation: typing-text-bar 0.5s linear infinite;
						-o-animation: typing-text-bar 0.5s linear infinite;
						opacity: 0;
						@include animation-delay(1.5s);
					}
				}
			}
			.hero_image {
				position: relative;
				width: 450px;
				height: 450px;
				// overflow: hidden;
				// background: #fff;

				img {
					filter: drop-shadow(20px 20px 20px #ffffff);
					border-radius: 50%;
					position: absolute;
					top: 40%;
					left: 40%;
					transform: translate(-50%, -50%);
					border-radius: 20%;
					width: 550px;
					height: 550px;
					object-fit: scale-down;
					-webkit-animation: show-photo 2s linear forwards;
					-moz-animation: show-photo 2s linear forwards;
					-o-animation: show-photo 2s linear forwards;

					object-fit: cover;

					// normal shadow
					box-shadow: 0 20px 40px rgba(0, 118, 255, 0.4);

					// animatsiya
					animation: show-photo 2s linear forwards;
					opacity: 0;
					@include animation-delay(2s);
				}
			}
		}
	}
}

// ========== HOME PAGE START ==========

@keyframes showHeaderSocials {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes glow-telegram {
	0%,
	100% {
		box-shadow:
			0 0 5px #00c6ff,
			0 0 10px #0077ff;
	}
	50% {
		box-shadow:
			0 0 20px #00c6ff,
			0 0 40px #0077ff;
	}
}

@keyframes glow-github {
	0%,
	100% {
		box-shadow:
			0 0 5px #f6c90e,
			0 0 10px #d17a00;
	}
	50% {
		box-shadow:
			0 0 20px #f6c90e,
			0 0 40px #d17a00;
	}
}

@keyframes glow-vk {
	0%,
	100% {
		box-shadow:
			0 0 5px #63a4ff,
			0 0 10px #83d0ff;
	}
	50% {
		box-shadow:
			0 0 20px #63a4ff,
			0 0 40px #83d0ff;
	}
}

@keyframes glow-gmail {
	0%,
	100% {
		box-shadow:
			0 0 5px #ea4335,
			0 0 10px #ff6f61;
	}
	50% {
		box-shadow:
			0 0 20px #ea4335,
			0 0 40px #fbbc05;
	}
}

@keyframes glow-instagram {
	0%,
	100% {
		box-shadow:
			0 0 5px #dd2a7b,
			0 0 10px #feda77;
	}
	50% {
		box-shadow:
			0 0 20px #8134af,
			0 0 40px #feda77;
	}
}

@keyframes borderFlow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes intro-greetings-glow {
	0%,
	5%,
	18%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70.5%,
	80%,
	90% {
		color: var(--intro-text-shadow);
		text-shadow: none;
	}
	5.1%,
	18.1%,
	20.1%,
	30.1%,
	40.5%,
	55%,
	60.1%,
	70.8%,
	80.3%,
	100% {
		color: var(--intro-text-color);
		text-shadow: 0 -4px 10px var(--text-shadow);
	}
}

@keyframes typing-text-bar {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes show-photo {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
