/* RESPONSIVE DESIGN */

@media screen and (max-width: 1280px) {
	.header .navbar .links,
	.navbar .action_btn {
		display: none;
	}

	.header .navbar .logo {
		margin-right: 0;
	}

	// .header {
	// 	padding: 0 15px;
	// }

	.header .navbar .logo a {
		font-size: 25px;
	}
	.header .navbar .toggle_btn {
		display: block;
		order: 2;
	}

	.header .dropdown_menu {
		display: block;
	}
}

@media (max-width: 576px) {
	.header .dropdown_menu {
		left: 2rem;
		width: unset;
	}
}

// 1280, 1024, 960, 850, 690, 480, 450, 414, 375
@media screen and (max-width: 1280px) {
	.home_page {
		margin-bottom: 80px;
		padding: 0 1rem;
		.social-icons {
			// margin-bottom: 150px;
			padding: 0 1rem;
		}
		.hero_section {
			.hero_text {
				z-index: 99;
				// justify-content: center;
				.blink {
					letter-spacing: 0;
					font-size: 56px;
					margin-bottom: 60px;
				}
				.typewriter-text {
					font-size: 6px;
				}
			}
			.hero_image {
				opacity: 0.8;
				z-index: 1;
				img {
					position: absolute;
					right: 0px;
					width: 430px;
					height: 550px;
					top: 90px;
					z-index: -1;
				}
			}
		}
	}
	.main_page {
		header {
			.navbar {
				.logo {
					a {
						&:hover {
						}
					}
				}
				.links {
					li {
						&::before {
						}
						&:hover::before {
						}
						a {
							&:hover {
							}
						}
					}
				}
				.toggle_btn {
				}
			}
			.dropdown_menu {
				&.open {
				}

				&::after {
					top: 45%;
					font-size: 150px;
				}

				li {
					&:hover {
					}
					&::before {
					}
					&:hover::before {
					}
					a {
						&:hover {
						}
					}
				}
			}
			.dropdown_menu.open {
			}
		}
		// margin-bottom: 200px;
		.about_section {
			.about_text {
				.title {
					font-size: 70px;
				}
			}
		}

		.skills_section_box {
			.skills_text {
				.title {
					font-size: 70px;
				}
			}
			.skills_section_container {
				// width: 100%;
				// display: flex;
				// justify-content: center;

				h2 {
				}
			}
			.filter-buttons {
				button {
				}
			}

			.skills_wrapper {
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				gap: 20px;
				max-width: 1000px;
			}

			.skill_item {
				span {
					font-size: 22px;
				}
				i {
					font-size: 42px;
				}
				.badge {
				}
			}

			.progress_bar {
				.progress_bar_fill {
				}
			}
			.modal {
				.modal_content {
					.close_modal {
					}
				}
			}
		}

		// Namuna
		.skills_section_box {
			.skills_text {
				.title {
				}
			}
			.skills_section_container {
				h2 {
				}
			}
			.filter-buttons {
				button {
				}
			}
			.skills_wrapper {
			}
			.skill_item {
				span {
				}
				i {
				}
				.badge {
				}
			}

			.progress_bar {
				.progress_bar_fill {
				}
			}
			.modal {
				.modal_content {
					.close_modal {
					}
				}
			}
		}

		.code_section {
			.code_text {
				.title {
				}
			}
			.container {
			}
		}
	}
}
@media screen and (max-width: 1024px) {
	.home_page {
		margin-bottom: 100px;
		// padding: 0 1rem;

		.social-icons {
			// margin-bottom: 70px;
		}
		.hero_section {
			.hero_text {
				z-index: 99;
				// justify-content: center;
				.blink {
					letter-spacing: 0;
					font-size: 50px;
					margin-bottom: 60px;
				}
				.typewriter {
					font-size: 50px;
				}
			}
			.hero_image {
				opacity: 0.8;
				z-index: 1;
				img {
					right: 10px;
					width: 400px;
				}
			}
		}
	}
	.main_page {
		header {
			.dropdown_menu {
				&.open {
				}

				&::after {
				}

				li {
					&:hover {
					}
					&::before {
					}
					&:hover::before {
					}
					a {
						font-size: 1.8rem;

						&:hover {
						}
					}
				}
			}
			.dropdown_menu.open {
			}
		}
		.skills_section_box {
			.skills_section_container {
				.skills_wrapper {
					grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
				}
			}
		}
	}
}
@media screen and (max-width: 960px) {
	.home_page {
		.social-icons {
			margin-bottom: 0px;
		}
		.hero_section {
			// align-items: center;
			// padding: 0 3.5rem;
			.hero_text {
				.blink {
					font-size: 44px;
				}
				.typewriter {
					font-size: 44px;
				}
			}
			.hero_image {
				opacity: 0.8;
				z-index: 1;
				img {
					position: absolute;
					right: 0px;
					width: 400px;
					height: 550px;
					top: 90px;
					z-index: -1;
				}
			}
		}
	}
	.main_page {
		header {
			.dropdown_menu {
				&.open {
				}

				&::after {
				}

				li {
					&:hover {
					}
					&::before {
					}
					&:hover::before {
					}
					a {
						font-size: 1.8rem;

						&:hover {
						}
					}
				}
			}
			.dropdown_menu.open {
			}
		}
		.skills_section_box {
			.skills_text {
				.title {
					font-size: 70px;
				}
			}
			.skills_section_container {
				h2 {
					font-size: 30px;
				}
			}
			.filter-buttons {
				button {
					padding: 7px 14px;
					margin: 3px;
				}
			}

			.skills_wrapper {
				grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
				gap: 0px;
				max-width: 850px;
			}

			.skill_item {
				height: 100px;
				padding: 13px;
				span {
					font-size: 18px;
				}
				i {
					font-size: 37px;
				}
				.badge {
					font-size: 0.9rem;
				}
			}

			.progress_bar {
				.progress_bar_fill {
				}
			}
			.modal {
				.modal_content {
					.close_modal {
					}
				}
			}
		}
	}
}
@media screen and (max-width: 850px) {
	.home_page {
		padding: 0 1rem;
		margin-bottom: 80px;
		.social-icons {
			margin-bottom: -60px;
		}
		.hero_section {
			// align-items: start;
			// padding: 0 1rem;
			.hero_text {
				.blink {
					font-size: 38px;
				}
				.typewriter {
					font-size: 38px;
				}
			}
			.hero_image {
				opacity: 0.8;
				z-index: 1;
				img {
					right: 0px;
					width: 400px;
					height: 550px;
				}
			}
		}
	}
	.main_page {
		// padding-top: 120px;
		.about_section {
			.about_text_wrapper {
				.about_text_card {
					img {
						width: 180px;
						height: 280px;
					}
					.section-about__paragraph {
						font-size: 23px;
					}
				}
			}
		}
		.skills_section_box {
			.skills_text {
				.title {
					// font-size: 70px;
				}
			}
			.skills_section_container {
				h2 {
					letter-spacing: 4px;
					font-size: 25px;
				}
			}
			.filter-buttons {
				button {
					padding: 6px 12px;
					margin: 3px;
				}
			}

			.skills_wrapper {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
				gap: 0px;
				max-width: 750px;
			}

			.skill_item {
				width: 170px;
				height: 100px;
				padding: 10px;
				span {
					font-size: 18px;
				}
				i {
					font-size: 37px;
				}
				.badge {
					font-size: 0.9rem;
				}
			}

			.progress_bar {
				.progress_bar_fill {
				}
			}
			.modal {
				.modal_content {
					.close_modal {
					}
				}
			}
		}
	}
}
@media screen and (max-width: 690px) {
	.home_page {
		margin-bottom: 75px;
		.hero_section {
			.hero_text {
				margin-top: 360px;
				width: 100%;
				justify-content: center;
				align-items: center;
				opacity: 1;
				.blink {
					margin-bottom: 35px;
					font-size: 36px;
				}
				.typewriter {
					font-size: 35px;
				}
			}
			.hero_image {
				img {
					width: 380px;
					height: 500px;
					top: 55%;
					right: 50%;
					transform: translate(50%, -50%);
				}
			}
		}
	}
	.main_page {
		.about_section {
			.about_text {
				.title {
					font-size: 55px;
				}
			}
			.about_text_wrapper {
				.about_text_card {
					img {
						width: 150px;
						height: 250px;
					}
					.section-about__paragraph {
						font-size: 15px;
					}
				}
			}
		}

		.skills_section_box {
			.skills_text {
				.title {
					font-size: 55px;
				}
			}
			.skills_section_container {
				h2 {
					letter-spacing: 3px;
					font-size: 20px;
				}
				.skills_wrapper {
					padding: 20px 0;
					grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
					gap: 0px;
					max-width: 500px;
				}
			}
			.filter-buttons {
				text-align: center;
				button {
					padding: 4px 8px;
					margin: 2px;
					font-size: 12px;
				}
			}

			.skill_item {
				width: 120px;
				height: 90px;
				padding: 8px;
				span {
					font-size: 16px;
				}
				i {
					font-size: 34px;
				}
				.badge {
					font-size: 0.7rem;
				}
			}

			.progress_bar {
				.progress_bar_fill {
				}
			}
			.modal {
				.modal_content {
					.close_modal {
					}
				}
			}
		}

		.code_section {
			margin-top: 50px;
			.code_text {
				.title {
					font-size: 55px;
				}
			}
			.container {
				width: 100%;
				height: 100vh;
				flex-direction: column;
				.canvas-wrapper {
					canvas {
					}
				}
				.text-wrapper {
					width: 100%;
					height: 50vh;
					pre {
						code {
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.home_page {
		margin-bottom: 70px;
		.hero_section {
			// align-items: center;
			padding: 0 1rem;
			.hero_text {
				width: 100%;
				margin-top: 350px;
				justify-content: center;
				align-items: center;
				.blink {
					font-size: 32px;
				}
				.typewriter {
					font-size: 32px;
				}
			}
			.hero_image {
				img {
					width: 400px;
					top: 55%;
					right: 50%;
					transform: translate(50%, -50%);
				}
			}
		}
	}
	.main_page {
		.about_section {
			// margin-top: 50px;
			margin-bottom: 0;
			.about_text {
				.title {
					font-size: 50px;
				}
			}
			.about_text_wrapper {
				.about_text_card {
					img {
						width: 150px;
						height: 200px;
					}
					.section-about__paragraph {
						font-size: 14px;
					}
				}
			}
		}
		.skills_section_box {
			.skills_text {
				.title {
					font-size: 50px;
				}
			}
			.skills_section_container {
				h2 {
					letter-spacing: 3px;
					font-size: 18px;
				}
				.skills_wrapper {
					padding: 0;
					padding-top: 20px;
					grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
					gap: 0px;
					max-width: 360px;
				}
			}
			.filter-buttons {
				text-align: center;
				display: grid;
				grid-template-columns: repeat(3, 2fr);
				gap: 30px;

				button {
					padding: 5px 10px;
					margin: 2px;
					font-size: 14px;
				}
			}

			.skill_item {
				width: 120px;
				height: 80px;
				padding: 8px;
				span {
					font-size: 15px;
				}
				i {
					font-size: 32px;
				}
				.badge {
					font-size: 0.65rem;
					padding: 3px;
				}
			}

			.progress_bar {
				height: 6px;
				.progress_bar_fill {
				}
			}
			.modal {
				.modal_content {
					.close_modal {
					}
				}
			}
		}

		.code_section {
			margin-top: 0;
			.code_text {
				.title {
					font-size: 50px;
				}
			}
		}
	}
}
@media screen and (max-width: 450px) {
	.home_page {
		margin-bottom: 60px;
		.hero_section {
			align-items: center;
			padding: 0 1rem;
			.hero_text {
				width: 100%;
				margin-top: 370px;
				// justify-content: flex-end;
				align-items: center;
				.blink {
					font-size: 26px;
				}
				.typewriter {
					font-size: 26px;
				}
			}
			.hero_image {
				img {
					width: 400px;
					top: 55%;
					right: 50%;
					transform: translate(50%, -50%);
				}
			}
		}
	}
	.main_page {
		.about_section {
			.about_text {
				.title {
					font-size: 40px;
				}
			}
			.about_text_wrapper {
				.about_text_card {
					img {
						width: 130px;
						height: 160px;
					}
					.section-about__paragraph {
						font-size: 11px;
					}
				}
			}
		}
		.skills_section_box {
			.skills_text {
				.title {
					font-size: 40px;
				}
			}
			.skills_section_container {
				height: 485px;
				h2 {
					letter-spacing: 3px;
					font-size: 17px;
				}
				.skills_wrapper {
					padding: 0;
					padding-top: 20px;
					grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
					gap: 0px;
					max-width: 360px;
				}
			}
			.filter-buttons {
				text-align: center;
				display: grid;
				grid-template-columns: repeat(3, 2fr);
				gap: 20px;

				button {
					padding: 4px 8px;
					margin: 2px;
					// font-size: 12px;
				}
			}

			.skill_item {
				width: 110px;
				height: 80px;
				padding: 8px;
				span {
					font-size: 15px;
				}
				i {
					font-size: 32px;
				}
				.badge {
					font-size: 0.65rem;
					padding: 3px;
				}
			}

			.progress_bar {
				height: 6px;
				.progress_bar_fill {
				}
			}
			.modal {
				.modal_content {
					.close_modal {
					}
				}
			}
		}

		.code_section {
			.code_text {
				.title {
					font-size: 40px;
				}
			}
			.container {
				width: 100%;
				height: 100vh;
				.canvas-wrapper {
					canvas {
					}
				}
				.text-wrapper {
					width: 100%;
					height: 50vh;
					pre {
						code {
							font-size: 11px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 414px) {
	.home_page {
		margin-bottom: 10px;
		.social-icons {
			padding: 40px 0;
			span {
				gap: 10px;
			}
		}
		.hero_section {
			align-items: center;
			padding: 0 0.5rem;
			.hero_text {
				width: 100%;
				margin-top: 270px;
				// justify-content: flex-end;
				align-items: center;
				.blink {
					font-size: 25px;
				}
				.typewriter {
					font-size: 24px;
				}
			}
			.hero_image {
				img {
					width: 330px;
					top: 50%;
					right: 50%;
					transform: translate(50%, -50%);
				}
			}
		}
	}
	.main_page {
		.skills_section_box {
			.skills_text {
				.title {
					font-size: 40px;
				}
			}
			.skills_section_container {
				height: 460px;
				h2 {
					letter-spacing: 2px;
					font-size: 16px;
				}
				.skills_wrapper {
					padding: 0;
					padding-top: 20px;
					grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
					gap: 0px;
					max-width: 360px;
				}
			}
			.filter-buttons {
				text-align: center;
				display: grid;
				grid-template-columns: repeat(3, 2fr);
				gap: 10px;

				button {
					padding: 4px 8px;
					margin: 2px;
					font-size: 12px;
				}
			}

			.skill_item {
				width: 100px;
				height: 80px;
				padding: 8px;
				span {
					font-size: 14px;
				}
				i {
					font-size: 30px;
				}
				.badge {
					font-size: 0.65rem;
					padding: 3px;
				}
			}

			.progress_bar {
				height: 6px;
				.progress_bar_fill {
				}
			}
			.modal {
				.modal_content {
					.close_modal {
					}
				}
			}
		}
	}
}
@media screen and (max-width: 375px) {
	.home_page {
		margin-bottom: -40px;
		.social-icons {
			gap: 8px;
			.glow-icon {
				padding: 8px;
			}
			span {
				gap: 8px;
			}
		}
		.hero_section {
			align-items: center;
			padding: 0 1rem;
			.hero_text {
				width: 100%;
				margin-top: 200px;
				// justify-content: flex-end;
				align-items: center;
				.blink {
					font-size: 18px;
				}
				.typewriter {
					font-size: 16px;
				}
			}
			.hero_image {
				img {
					width: 280px;
					top: 50%;
					right: 50%;
					transform: translate(50%, -50%);
				}
			}
		}
	}
	.main_page {
		header {
			.dropdown_menu {
				&.open {
				}

				&::after {
					top: 45%;
					font-size: 130px;
				}

				li {
					&:hover {
					}
					&::before {
					}
					&:hover::before {
					}
					a {
						font-size: 1.4rem;

						&:hover {
						}
					}
				}
			}
			.dropdown_menu.open {
			}
		}
		.about_section {
			// margin-top: 50px;
			.about_text {
				.title {
					font-size: 30px;
				}
			}
			.about_text_wrapper {
				.about_text_card {
					img {
						width: 100px;
						height: 140px;
					}
					.section-about__paragraph {
						font-size: 8px;
					}
				}
			}
		}
		.skills_section_box {
			.skills_text {
				.title {
					font-size: 35px;
				}
			}
			.skills_section_container {
				h2 {
					letter-spacing: 2px;
					font-size: 15px;
				}
				.skills_wrapper {
					padding: 0;
					padding-top: 20px;
					grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
					gap: 0px;
					max-width: 300px;
					overflow-x: hidden;
				}
			}
			.filter-buttons {
				text-align: center;
				display: grid;
				grid-template-columns: repeat(3, 2fr);
				gap: 10px;
				margin-bottom: 20px;

				button {
					padding: 4px 8px;
					margin: 2px;
					font-size: 11px;
				}
			}

			.skill_item {
				width: 80px;
				height: 80px;
				padding: 8px;
				span {
					font-size: 10px;
					text-wrap: nowrap;
				}
				i {
					font-size: 26px;
				}
				.badge {
					font-size: 0.55rem;
					padding: 3px;
					text-wrap: nowrap;
				}
			}

			.progress_bar {
				height: 6px;
				.progress_bar_fill {
				}
			}
			.modal {
				.modal_content {
					.close_modal {
					}
				}
			}
		}
		.code_section {
			margin: 0;
			.code_text {
				.title {
					font-size: 35px;
				}
			}
			.container {
				width: 100%;
				height: 100vh;
				.canvas-wrapper {
					canvas {
					}
				}
				.text-wrapper {
					width: 100%;
					height: 50vh;
					pre {
						code {
							font-size: 8px;
						}
					}
				}
			}
		}
	}
}
